mixin postInfo(item)
    .post-info
        != full_date(item.date, 'YYYY/MM/DD')
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from, target='_blank', title=item.from)
                != __('translate_original')

        //- - item.tags.forEach(tag=> {
        //-      span= '# ' + tag.name
        //- - })

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href=url_for(item.path))
                            +postTitle(item.title)
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href=url_for(item.path))
                        != __('read_more')
        - })

//- Archive Page
mixin postList()
    .archive
        - var isFirstSectionUsed = false
        - var year = 0;
        - var change = false;
        - site.posts.each(function (item, index) {
            - var itemYear = date(item.date, 'YYYY') - 0
            - change = year !== itemYear
            - year = itemYear
            if change
                if (!isFirstSectionUsed) 
                    - isFirstSectionUsed = true
                else
                    | </section>
                | <section class="year-section">

                h2.archive-year
                    != itemYear
            - var tagArray = (item.tags.map(function(tag){return tag.name}))
            - var categoryArray = (item.categories.map(function(tag){return tag.name}))
            - var tagStr = tagArray.length ? tagArray.join('%+%') : ''
            - var categoryStr = categoryArray.length ? categoryArray.join('%+%') : ''
            div(class='post-item', data-tag = tagStr, data-category = categoryStr)
                +postInfo(item)
                a.post-title-link(href=url_for(item.path))
                    +postTitle(item.title)
            
            if (index === site.posts.length - 1)
                | </section>
        - })

mixin categoryList()
    .categories
        div.category.tag-all(data-category = '')
            span.iconfont-ares.all-icon
                |&#xe663;
            //- | ALL POSTS
            span.allTagCount.
                !{site.posts.length}
        - site.categories.each(category=>{
            div.category(data-category = category.name)
                span.iconfont-ares.category-icon
                    |&#xe72c;
                =category.name
                span.tagCount
                    =category.posts.length
        - })

mixin tagList()
    .tags
        - site.tags.each(tag=>{
            div.tag(data-tag = tag.name)
                span.iconfont-ares.tag-icon
                    |&#xe63e;
                =tag.name
                span.tagCount
                    =tag.posts.length
        - })


//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                +postTitle(item.title)
            +postInfo(item)
            .post-content
                != item.content